<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hust.keyRD.system.dao.ChannelDataAuthorityDao">

    <resultMap type="com.hust.keyRD.commons.entities.ChannelDataAuthority" id="channelDataAuthorityMap">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="dataId" column="data_id"/>
        <result property="channelId" column="channel_id"/>
        <result property="type" column="type"/>
    </resultMap>

    <resultMap id="DataSampleMap" type="com.hust.keyRD.commons.entities.DataSample">
        <!--映射column为数据库字段，property为实体类属性-->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="channel_id" property="channelId" jdbcType="INTEGER"/>
        <id column="mongo_id" property="mongoId" jdbcType="VARCHAR"/>
        <id column="data_name" property="dataName" jdbcType="VARCHAR"/>
        <id column="data_type" property="dataType" jdbcType="VARCHAR"/>
        <id column="data_size" property="dataSize" jdbcType="DOUBLE"/>
        <id column="origin_user_id" property="originUserId" jdbcType="INTEGER"/>
        <id column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <id column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <insert id="create" parameterType="Map" useGeneratedKeys="true" keyProperty="id">
        insert into channel_data_authority(id, user_id, data_id, channel_id, type)
        values (null, #{userId}, #{dataId}, #{channelId}, #{type});
    </insert>
    
    <delete id="deleteById" parameterType="Map">
        delete from channel_data_authority where id = #{id};
    </delete>
    
    <select id="findById" parameterType="Map" resultMap="channelDataAuthorityMap">
        select * from channel_data_authority where id = #{id};
    </select>

    <select id="getAuthorityListByType" parameterType="Map" resultType="com.hust.keyRD.commons.vo.ChannelDataAuthorityVO">
        select channel_data_authority.user_id    as userId,
               user.user_name                    as userName,
               channel_data_authority.data_id    as dataId,
               channel_data_authority.channel_id as channelId,
               channel_data_authority.type,
               user.channel_id                   as userChannelId,
               data_sample.data_name             as dataName,
               data_sample.channel_id            as dataChannelId
        from channel_data_authority
                 join user on channel_data_authority.user_id = user.id
                 join data_sample on channel_data_authority.data_id = data_sample.id
        where type = #{type};
    </select>

    <select id="getInterChannelPullData" parameterType="Map" resultMap="DataSampleMap">
        select data_sample.*
        from channel_data_authority
                 join data_sample on channel_data_authority.data_id = data_sample.id
        where channel_data_authority.user_id = #{userId}
          and channel_data_authority.channel_id != #{channelId}
          and channel_data_authority.type = 2;
    </select>

    <select id="getInnerChannelPushData" parameterType="Map" resultType="PushDataInfoDto">

        select channel_data_authority.data_id    as dataId,
               channel_data_authority.channel_id as channelId,
               channel.channel_name              as channelName
        from channel_data_authority
                 join data_sample
                      on channel_data_authority.user_id = #{userId}
                          and channel_data_authority.type = 1
                          and data_sample.channel_id = #{channelId}
                          and channel_data_authority.data_id = data_sample.id
                 join channel on channel.id = channel_data_authority.channel_id;
    </select>

    <select id="checkPullAuthority" parameterType="DataSample" resultType="java.lang.Integer">
        select count(*) from channel_data_authority
        where user_id = #{userId} and data_id= #{dataId} and channel_id = #{channelId} and type=2;
    </select>

    <select id="checkPushAuthority" parameterType="DataSample" resultType="java.lang.Integer">
        select count(*) from channel_data_authority
        where user_id = #{userId} and data_id= #{dataId} and channel_id = #{channelId} and type=1;
    </select>
    <select id="findByCondition" parameterType="ChannelDataAuthority" resultMap="channelDataAuthorityMap">
        select * from channel_data_authority
         where user_id = #{userId} and data_id= #{dataId} and channel_id = #{channelId} and type = #{type};
    </select>


</mapper>