<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.keyRD.system.dao.DataAuthorityDao">
    <resultMap id="BaseResultMap" type="com.hust.keyRD.commons.entities.DataAuthority">
        <!--映射column为数据库字段，property为实体类属性-->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="user_id" property="userId" jdbcType="INTEGER"/>
        <id column="data_sample_id" property="dataSampleId" jdbcType="INTEGER"/>
        <id column="authority_key" property="authorityKey" jdbcType="INTEGER"/>
    </resultMap>
    <insert id="addDataAuthority" parameterType="DataAuthority" useGeneratedKeys="true" keyProperty="id">
        insert into data_authority (id,user_id,data_sample_id,authority_key) values (null,#{userId},#{dataSampleId},#{authorityKey});
    </insert>
    <delete id="deleteDataAuthority" parameterType="DataAuthority">
        delete from data_authority where  user_id=#{userId} and data_sample_id=#{dataSampleId} and authority_key=#{authorityKey};
    </delete>
    <select id="findDataAuthorityById" parameterType="Map" resultMap="BaseResultMap">
        select * from data_authority where id=#{id};
    </select>
    <select id="findDataAuthorityByUserId" parameterType="Map" resultMap="BaseResultMap">
        select * from data_authority where user_id=#{userId};
    </select>
    <select id="findDataAuthorityByDataId" parameterType="Map" resultMap="BaseResultMap">
        select * from data_authority where data_sample_id=#{dataSampleId};
    </select>
    <select id="findDataAuthorityByUserIdAndDataId" parameterType="Map" resultMap="BaseResultMap">
        select * from data_authority where user_id=#{userId} and data_sample_id=#{dataSampleId};
    </select>
    <update id="editDataAuthority" parameterType="java.lang.Integer">
        update data_authority set authority_key=#{authorityKey} where id=#{id}
    </update>
    <select id="checkDataAuthority" parameterType="DataAuthority" resultType="Integer">
        select count(*) from data_authority where user_id=#{userId} and data_sample_id=#{dataSampleId} and authority_key=#{authorityKey}
    </select>
    <insert id="addMasterDataAuthority">
        insert into data_authority values (null,#{userId},#{dataSampleId},1),(null,#{userId},#{dataSampleId},2);
    </insert>
    <select id="getAllAuthority" parameterType="Map" resultMap="BaseResultMap">
        select * from data_authority;
    </select>

    <select id="findUsersDataAuthority" parameterType="Map" resultType="UserDataAuthDto">
        select user.id as userId, user.user_name as userName, channel.channel_name as channelName, data_sample.id as dataId,data_sample.data_name as dataName, group_concat(data_authority.authority_key) as dataAuthorityList
        from user join data_sample  left join data_authority on data_authority.user_id = user.id and data_authority.data_sample_id = data_sample.id, channel
        where user.is_admin = 0
            and data_sample.channel_id = channel.id
        group by user.id, data_sample.id
        order by user.id,data_sample.id
    </select>
</mapper>