<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.keyRD.system.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.hust.keyRD.commons.entities.User">
        <!--映射column为数据库字段，property为实体类属性-->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="user_name" property="username" jdbcType="VARCHAR"/>
        <id column="password" property="password" jdbcType="VARCHAR"/>
        <id column="channel_id" property="channelId" jdbcType="INTEGER"/>
        <id column="is_admin" property="isAdmin" jdbcType="INTEGER"/>
        <id column="fabric_user_id" property="fabricUserId" jdbcType="VARCHAR"/>
    </resultMap>
    <!--根据id找User-->
    <select id="findUserById" parameterType="Integer" resultMap="BaseResultMap">
        select * from user where id=#{id};
    </select>
    <!--根据用户名找User-->
    <select id="findUserByUsername" parameterType="String" resultMap="BaseResultMap">
        select * from user where user_name=#{username};
    </select>
    <!--找所有User-->
    <select id="getAllUser" parameterType="Map" resultMap="BaseResultMap" >
        select id,user_name,channel_id from user where is_admin=0 ORDER BY user_name;
    </select>
    <!--用户登录-->
    <select id="login"  parameterType="User" resultType="java.lang.Integer">
        select count(*) from user where user_name=#{username} and password=#{password};
    </select>
    <!--用户注册-->
    <insert id="register"  parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into user(id,user_name,password,channel_id,fabric_user_id,is_admin) values(null,#{username},#{password},#{channelId},0,0);
    </insert>
</mapper>